/* Import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark: #06283D;
    --dark-blue: #1363DF;
    --fade-blue: #47B5FF;
    --bg: #DFF6FF;
    --light: #fff;
}

.contain {
    padding: 15px 70px;
}

.flex-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
}

.btn {
    padding: 11px 20px;
    text-decoration: none;
    background-color: var(--dark-blue);
    color: var(--light);
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.2s linear;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 8px 20px -3px rgba(0, 0, 0, 0.178);
}

.b-btn:hover {
    border: 1px solid var(--dark-blue);
    background-color: transparent;
    color: var(--dark-blue);

}
a{
    text-decoration: none;
}


/* header section  */

nav {
    justify-content: space-between !important;
    padding: 2px 0px;
}

.nav-logo {
    font-size: 28px;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
}

.nav-link {
    gap: 0px 40px;
}

.nav-link a {
    text-decoration: none;
    color: var(--dark);
    font-size: 24px;
    position: relative;
    transition: all 0.1 linear;
    font-weight: 500;
}


.nav-link a:hover {
    color: var(--dark-blue);
}

/* >>>>>>>>>>>>>>>>>>
    MAIN SECTION 
<<<<<<<<<<<<<<<<<<<< */

.main {
    height: 90vh;
    justify-content: space-between;
}

.main-txt p {
    font-size: 28px;
}

.main-txt h1 {
    font-size: 75px;
}

.main-img img {
    width: 700px;
}

/* >>>>>>>>>>>>>>>>>>
    FLOAT BTN 
<<<<<<<<<<<<<<<<<<<< */
.float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4BCA5A;
    color: #FAFAFA;
    font-size: 35px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.1s linear;
}

.float-btn:hover {
    font-size: 30px;
}

/* >>>>>>>>>>>>>>>>>>
    SERVICE SECTION 
<<<<<<<<<<<<<<<<<<<< */
.sec {
    padding-top: 70px;
    padding-bottom: 70px;
}

#service {
    width: 100%;
}

.sec-head {
    font-size: 50px;
    margin-bottom: 60px;
    color: var(--dark);
}

.card-wrapper {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ser-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px 0px;
    width: 400px;
    height: 240px;
    padding: 15px 20px;
    background-color: var(--light);
    transition: all 0.1s linear;
    color: var(--light);
    border-radius: 5px;
    cursor: pointer;
}

.ser-card:hover {
    box-shadow: 0px 0px 10px 2px rgba(21, 21, 21, 0.222);
    transform: translateY(-1px);
}

.ser-card:nth-child(1) {
    background-color: #43AA8B;
}

.ser-card:nth-child(2) {
    background-color: #0075DD;
}

.ser-card:nth-child(3) {
    background-color: #F8961E;
}


.ser-head {
    font-size: 37px;
    letter-spacing: 1px;
}

.ser-para {
    color: #ebebeb;
    font-size: 20px;
}


.why-card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
    background: var(--light);
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.11);
}

.why-card img {
    width: 60px;
}

.why-card h2 {
    color: var(--dark);
    font-size: 18px;
    margin-top: 5px;
}


.action-btn-sec {
    background-color: var(--light);
    position: relative;
    justify-content: space-between;
}

.action-text-wrapper {
    width: 650px;
}

.action-btn-sec h1 {
    font-size: 40px;
}

.design-cl {
    color: #43AA8B;
}

.develop-cl {
    color: #0075DD;
}

.host-cl {
    color: #F8961E;
}


.ac-img img {
    width: 600px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    founder page SECTION 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.founder-sec .card-wrapper{
    justify-content: center;
    gap: 0px 100px;
}
.profile-card{
    border-radius: 5px;
    gap: 0px 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.11);
    background-color: var(--light);
}

.profile-card img{
    width: 140px;
}

.pc-text{
    align-items: flex-start;
}
.profile-card h2{
    font-size: 30px;
}
.profile-card p{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    /* color:var(--dark) */
}

.s-icons{
    margin-top: 10px;
    font-size: 23px;
    gap: 0px 13px;
}
.s-icons i{
    color: var(--dark);
    transition: all 0.2s linear;
}
.s-icons i:hover{
    color: var(--dark-blue);
    transform: translateY(1px);

}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    contact page SECTION 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


.contact-form-wrapper {
    height: 87vh;
    background: linear-gradient(180deg, #dff6ffcd, #dff6ffd4), url(../media/contact-page.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.contact-form-wrapper form {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 500px;
    min-width: 490px;
    padding: 30px;
    border: 2px solid #f2f0ff;
}

.contact-form-wrapper form .db-head {
    font-size: 30px;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: #F7F6FF;
    height: 45px;
}

.input-box input,
.input-box textarea {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
}

.textarea-box {
    height: 100px;
    align-items: flex-start;
}

.contact-form-wrapper form .b-btn {
    margin-top: 15px;
    box-shadow: 0px 8px 20px -3px rgba(0, 0, 0, 0.178);
}
















/* footer section  */

footer {
    background-color: var(--dark);
}

.footer-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 0, 0.263);
}

.ft-info h1 {
    color: #fff;
    font-size: 38px;
}

.ft-info p {
    color: #fff;
    margin-bottom: 35px;
}

.ft-sc-wrapper {
    align-items: flex-start !important;
    gap: 10px 0px;
}

.ft-sc-wrapper i {
    font-size: 19px;
    color: var(--bg);
    margin-right: 10px;
}

.ft-sc-wrapper a {
    color: var(--bg);
    text-decoration: none;
    font-size: 14px;
}

.ft-link {
    align-items: flex-start;
    gap: 10px 0px;
}

.ft-link h3 {
    color: var(--bg);
}

.ft-link a {
    color: var(--bg);
    text-decoration: none;
}

.dev-info {
    text-align: center;
    color: var(--bg);
    padding-top: 15px;
}

.dev-info a {
    color: var(--bg);
    text-decoration: none;
    font-weight: 500;

}